{% extends 'base.html' %}
{% block content %}

<h1>Game Video Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ game.name }}</span>
        <p>Developer: {{ game.developer }}</p>
        <p>Publisher: {{ game.publisher }}</p>
        <p>Genre: {{ game.genre }}</p>
        <p>Release Year: {{ game.release_year }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Hours Played</th><th>Completed</th></tr>
      </thead>
      <tbody>
        {% for playtime in game.playtime_set.all %}
          <tr>
            <td>{{playtime.date}}</td>
            <td>{{playtime.hours_played}}</td>
            <td>{{playtime.get_completed_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}


<!-- <div class="col s6">
  <h3>Available On These Platforms</h3>
  {% if Platforms.count %}
    {% for platform in Platforms.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ platform.name }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_toy' cat.id toy.id %}" method="post">
              {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{game.name}} Already Has All Platforms Available</h5>
  {% endif %}
</div>
</div> -->