{% extends 'base.html' %}
{% block content %}

<h1>Game Video Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ game.name }}</span>
        <p>Developer: {{ game.developer }}</p>
        <p>Publisher: {{ game.publisher }}</p>
        <p>Genre: {{ game.genre }}</p>
        <p>Release Year: {{ game.release_year }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
      </div>
      {% for photo in game.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
      {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}
      <form action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">
      </form>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_playtime' game.id %}" method="post">
      {% csrf_token %}
      {{ playtime_form.as_p }}
      <input type="submit" class="btn" value="Add Play Time">
    </form>
    <table id="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Hours Played</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        {% for playtime in game.playtime_set.all %}
        <tr>
          <td>{{playtime.date}}</td>
          <td class="SumOfHours">{{playtime.hours_played}}</td>
          <td>{{playtime.get_completed_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <thead>
        <tr>
          <th>Total Hours Played: </th>
        </tr>
      </thead>
    </table>
  </div>
  <hr>
  <div class="col s6">
    <h3>{{ game.name }} is Available On: </h3>
    {% if game.platform.count %}
    {% for platform in game.platform.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ platform.name }}
        </span>
        <div class="card-action">
          <form action="{% url 'unassoc_platform' game.id platform.id %}" method="delete">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>Platforms TBD</h5>
    {% endif %}
  </div>
</div>
<div class="col s6">
  <h3>Available Platforms</h3>
  {% if platform.count %}
  {% for platform in platform.all %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        {{ platform.name }}
      </span>
      <div class="card-action">
        <form action="{% url 'assoc_platform' game.id platform.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5> This Game is Available on all Platforms!</h5>
    {% endif %}
  </div>

  <script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    var selectEl = document.getElementById('id_completed');
    M.FormSelect.init(selectEl);
  </script>

  {% endblock %}


  <!-- const tds = document.getElementById('striped').getElementsByClassName('SumOfHours');
let sum = 0;
for(let i = 0; i < tds.length; i++){
  if(tds[i].className == 'SumOfHours'){
    sum += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
  }
} -->